gestionale/Fornitore/__pycache__/models.cpython-310.pyc
gestionale/Fornitore/migrations/__pycache__/__init__.cpython-310.pyc
gestionale/Fornitore/migrations/__pycache__/0001_initial.cpython-310.pyc
gestionale/Fornitore/migrations/__pycache__/0002_fornitore_pagamento.cpython-310.pyc
gestionale/Fornitore/migrations/__pycache__/0003_alter_fornitore_pagamento.cpython-310.pyc
gestionale/gestionale/__pycache__/settings.cpython-310.pyc
gestionale/gestionale/__pycache__/urls.cpython-310.pyc
gestionale/Magazzino/__pycache__/apps.cpython-310.pyc
gestionale/Magazzino/__pycache__/models.cpython-310.pyc
gestionale/Magazzino/__pycache__/apps.cpython-310.pyc
gestionale/Magazzino/__pycache__/models.cpython-310.pyc
gestionale/Magazzino/migrations/__pycache__/__init__.cpython-310.pyc
gestionale/Magazzino/migrations/__pycache__/0001_initial.cpython-310.pyc
gestionale/Magazzino/__pycache__/apps.cpython-310.pyc
gestionale/Magazzino/__pycache__/models.cpython-310.pyc
gestionale/Pagamento/migrations/0001_initial.py
gestionale/Pagamento/migrations/__pycache__/__init__.cpython-310.pyc
gestionale/Pagamento/migrations/__pycache__/0001_initial.cpython-310.pyc
gestionale/Prodotto/__pycache__/admin.cpython-310.pyc
gestionale/Prodotto/__pycache__/models.cpython-310.pyc
gestionale/Prodotto/__pycache__/views.cpython-310.pyc
gestionale/Prodotto/migrations/__pycache__/__init__.cpython-310.pyc
gestionale/Prodotto/migrations/__pycache__/0001_initial.cpython-310.pyc
