# Ignore Python bytecode files
__pycache__/

# Ignore database files
*.sqlite3

# Ignore migrations folder for Django apps
**/migrations/

# Ignore static files collected by Django
**/static/

# Ignore media files uploaded by users
**/media/

# Ignore environment-specific settings
.env

# Ignore system files
.DS_Store

# Ignore IDE settings
.idea/
.vscode/