gestionale/Fornitore/__pycache__/models.cpython-310.pyc
gestionale/Fornitore/migrations/__pycache__/__init__.cpython-310.pyc
gestionale/Fornitore/migrations/__pycache__/0001_initial.cpython-310.pyc
gestionale/Fornitore/migrations/__pycache__/0002_fornitore_pagamento.cpython-310.pyc
gestionale/Fornitore/migrations/__pycache__/0003_alter_fornitore_pagamento.cpython-310.pyc
gestionale/gestionale/__pycache__/settings.cpython-310.pyc
gestionale/gestionale/__pycache__/urls.cpython-310.pyc
gestionale/Magazzino/__pycache__/apps.cpython-310.pyc
gestionale/Magazzino/__pycache__/models.cpython-310.pyc
gestionale/Magazzino/__pycache__/apps.cpython-310.pyc
gestionale/Magazzino/__pycache__/models.cpython-310.pyc
gestionale/Magazzino/migrations/__pycache__/__init__.cpython-310.pyc
gestionale/Magazzino/migrations/__pycache__/0001_initial.cpython-310.pyc
gestionale/Magazzino/__pycache__/apps.cpython-310.pyc
gestionale/Magazzino/__pycache__/models.cpython-310.pyc
gestionale/Pagamento/migrations/0001_initial.py
gestionale/Pagamento/migrations/__pycache__/__init__.cpython-310.pyc
gestionale/Pagamento/migrations/__pycache__/0001_initial.cpython-310.pyc
gestionale/Prodotto/__pycache__/admin.cpython-310.pyc
gestionale/Prodotto/__pycache__/models.cpython-310.pyc
gestionale/Prodotto/__pycache__/views.cpython-310.pyc
gestionale/Prodotto/migrations/__pycache__/__init__.cpython-310.pyc
gestionale/Prodotto/migrations/__pycache__/0001_initial.cpython-310.pyc
.idea/vcs.xml
gestionale/Magazzino/__pycache__/apps.cpython-310.pyc
gestionale/Magazzino/__pycache__/models.cpython-310.pyc
gestionale/Magazzino/migrations/__pycache__/__init__.cpython-310.pyc
gestionale/Magazzino/migrations/__pycache__/0001_initial.cpython-310.pyc
gestionale/staticfiles/logo.png
gestionale/staticfiles/admin/css/autocomplete.css
gestionale/staticfiles/admin/css/base.css
gestionale/staticfiles/admin/css/changelists.css
gestionale/staticfiles/admin/css/dark_mode.css
gestionale/staticfiles/admin/css/dashboard.css
gestionale/staticfiles/admin/css/forms.css
gestionale/staticfiles/admin/css/login.css
gestionale/staticfiles/admin/css/nav_sidebar.css
gestionale/staticfiles/admin/css/responsive_rtl.css
gestionale/staticfiles/admin/css/responsive.css
gestionale/staticfiles/admin/css/rtl.css
gestionale/staticfiles/admin/css/widgets.css
gestionale/staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
gestionale/staticfiles/admin/css/vendor/select2/select2.css
gestionale/staticfiles/admin/css/vendor/select2/select2.min.css
gestionale/staticfiles/admin/img/calendar-icons.svg
gestionale/staticfiles/admin/img/icon-addlink.svg
gestionale/staticfiles/admin/img/icon-alert.svg
gestionale/staticfiles/admin/img/icon-calendar.svg
gestionale/staticfiles/admin/img/icon-changelink.svg
gestionale/staticfiles/admin/img/icon-clock.svg
gestionale/staticfiles/admin/img/icon-deletelink.svg
gestionale/staticfiles/admin/img/icon-hidelink.svg
gestionale/staticfiles/admin/img/icon-no.svg
gestionale/staticfiles/admin/img/icon-unknown-alt.svg
gestionale/staticfiles/admin/img/icon-unknown.svg
gestionale/staticfiles/admin/img/icon-viewlink.svg
gestionale/staticfiles/admin/img/icon-yes.svg
gestionale/staticfiles/admin/img/inline-delete.svg
gestionale/staticfiles/admin/img/LICENSE
gestionale/staticfiles/admin/img/README.txt
gestionale/staticfiles/admin/img/search.svg
gestionale/staticfiles/admin/img/selector-icons.svg
gestionale/staticfiles/admin/img/sorting-icons.svg
gestionale/staticfiles/admin/img/tooltag-add.svg
gestionale/staticfiles/admin/img/tooltag-arrowright.svg
gestionale/staticfiles/admin/img/gis/move_vertex_off.svg
gestionale/staticfiles/admin/img/gis/move_vertex_on.svg
gestionale/staticfiles/admin/js/actions.js
gestionale/staticfiles/admin/js/autocomplete.js
gestionale/staticfiles/admin/js/calendar.js
gestionale/staticfiles/admin/js/cancel.js
gestionale/staticfiles/admin/js/change_form.js
gestionale/staticfiles/admin/js/collapse.js
gestionale/staticfiles/admin/js/core.js
gestionale/staticfiles/admin/js/filters.js
gestionale/staticfiles/admin/js/inlines.js
gestionale/staticfiles/admin/js/jquery.init.js
gestionale/staticfiles/admin/js/nav_sidebar.js
gestionale/staticfiles/admin/js/popup_response.js
gestionale/staticfiles/admin/js/prepopulate_init.js
gestionale/staticfiles/admin/js/prepopulate.js
gestionale/staticfiles/admin/js/SelectBox.js
gestionale/staticfiles/admin/js/SelectFilter2.js
gestionale/staticfiles/admin/js/theme.js
gestionale/staticfiles/admin/js/urlify.js
gestionale/staticfiles/admin/js/admin/DateTimeShortcuts.js
gestionale/staticfiles/admin/js/admin/RelatedObjectLookups.js
gestionale/staticfiles/admin/js/vendor/jquery/jquery.js
gestionale/staticfiles/admin/js/vendor/jquery/jquery.min.js
gestionale/staticfiles/admin/js/vendor/jquery/LICENSE.txt
gestionale/staticfiles/admin/js/vendor/select2/LICENSE.md
gestionale/staticfiles/admin/js/vendor/select2/select2.full.js
gestionale/staticfiles/admin/js/vendor/select2/select2.full.min.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/af.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/ar.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/az.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/bg.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/bn.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/bs.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/ca.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/cs.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/da.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/de.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/dsb.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/el.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/en.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/es.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/et.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/eu.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/fa.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/fi.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/fr.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/gl.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/he.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/hi.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/hr.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/hsb.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/hu.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/hy.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/id.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/is.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/it.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/ja.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/ka.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/km.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/ko.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/lt.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/lv.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/mk.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/ms.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/nb.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/ne.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/nl.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/pl.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/ps.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/pt.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/ro.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/ru.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/sk.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/sl.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/sq.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/sr.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/sv.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/th.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/tk.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/tr.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/uk.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/vi.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
gestionale/staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
gestionale/staticfiles/admin/js/vendor/xregexp/LICENSE.txt
gestionale/staticfiles/admin/js/vendor/xregexp/xregexp.js
gestionale/staticfiles/admin/js/vendor/xregexp/xregexp.min.js
gestionale/staticfiles/files/logo.png
