__pycache__/*
Fornitore/__pycache__
Prodotto/__pycache__/*
Pagamento/__pycache__/*
Iva/__pycache__/*
Magazzino/__pycache__/*
Movimenti/__pycache__/*
gestionale/__pycache__/*
Prodotto/migrations/*
Fornitore/migrations/*
Pagamento/migrations/*
Iva/migrations/*
Magazzino/migrations/*
Movimenti/migrations/*
staticfiles/*