{% extends "layouts/base.html" %}
{% block content %}
    <div class="container-fluid">    
        <h1>Prodotti</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Codice</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                    </tr>
                    <tr>
                        <th>
                            <input type="text" id="search_codice" name="search_codice" class="form-control" placeholder="Cerca per codice">
                        </th>
                        <th>
                            <input type="text" id="search_nome" name="search_nome" class="form-control" placeholder="Cerca per nome">
                        </th>
                        <th>
                            <input type="text" id="search_cat" name="search_cat" class="form-control" placeholder="Cerca per categoria">
                        </th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% include "table_content.html" %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#search_codice, #search_nome, #search_cat').on('input', function() {
                updateTable();
            });

            function updateTable() {
                var search_codice = $('#search_codice').val();
                var search_nome = $('#search_nome').val();
                var search_cat = $('#search_cat').val();

                $.ajax({
                    url: '{% url 'update_table' %}',
                    type: 'GET',
                    data: {
                        'search_codice': search_codice,
                        'search_nome': search_nome,
                        'search_cat': search_cat,
                    },
                    success: function(data) {
                        $('#table-body').html(data.my_content);
                    }
                });
            }
        });
    </script>
{% endblock %}