<style>
    select.form-control {
        appearance: auto;
        -webkit-appearance: auto;
        -moz-appearance: auto;
    }
</style>

{% extends "layouts/base.html" %}
{% block content %}
    <div class="container-fluid">    
        <h1>Magazzino</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th class="text-center">Codice Prodotto</th>
                        <th class="text-center">Nome Prodotto</th>
                        <th class="text-center"><a class="text-white"href="">Quantità</a></th>
                    </tr>
                    <tr>
                        <th>
                            <input type="text" id="search_cod_prodotto" name="search_cod_prodotto" class="form-control" placeholder="Cerca per codice">
                        </th>
                        <th>
                            <input type="text" id="search_nome_prodotto" name="search_nome_prodotto" class="form-control" placeholder="Cerca per nome">
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-md-4">
                                    <select name="operator" id="operator" class="form-control">
                                        <option value="gt">&gt;</option>
                                        <option value="lt">&lt;</option>
                                        <option value="=">=</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <input type="number" id="search_qnt" name="search_qnt" class="form-control" placeholder="Inserisci valore">
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% include "Magazzino/table_content.html" %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#search_cod_prodotto, #search_nome_prodotto, #search_qnt').on('input', function() {
                updateTable();
            });
        
            function updateTable() {
                var search_codice = $('#search_cod_prodotto').val();
                var search_nome = $('#search_nome_prodotto').val();
                var search_qnt = $('#search_qnt').val();
                var operator_qnt = $('#operator').val();
                
                $.ajax({
                    url: '{% url 'update_table_magazzino' %}',
                    type: 'GET',
                    data: {
                        'search_codice': search_codice,
                        'search_nome': search_nome,
                        'search_qnt': search_qnt,
                        'operator': operator_qnt,
                    },
                    success: function(data) {
                        $('#table-body').html(data.my_content);
                    }
                });
            }
        });
    </script>
{% endblock %}