<nav class="navbar navbar-expand-lg sticky-top bg-secondary mb-3" data-bs-theme="dark">
    <ul class="nav align-items-center">
        <li>
            <a class="navbar-brand text-warning p-3">RoccoIlTuttofare</a>
        </li>
        <li>
            <a class="nav-link text-white" href="{% url 'dashboard' %}">
                <i class="fas fa-tachometer-alt fa-lg"></i> Dashboard
            </a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto mx-auto my-2 my-lg-0 navbar-nav-scroll nav justify-content-center" style="--bs-scroll-height: 100px;">
            <li class="nav-item dropdown me-3">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Prodotti
                </a>
                <ul class="dropdown-menu">
                    {% for cat in categorie_prodotti %}
                        <li><a class="dropdown-item text-center text-white" href="{% url 'prodotti_categoria' codice_cat=cat %}">{{ cat }}</a></li>
                    {% endfor %}
                    <li><hr class="dropdown-divider text-white"></li>
                    <li><a class="dropdown-item text-center text-white" href="{% url 'prodotti_tutti' %}">Tutti i prodotti</a></li>
                </ul>                
            </li>
            <li class="nav-item me-3">
                <a class="nav-link text-white" aria-disabled="true">Negozio</a>
            </li>
            <li class="nav-item me-3 text-white">
                <a class="nav-link text-white" aria-disabled="true" href="{% url 'magazzino' %}">Magazzino</a>
            </li>
        </ul>        
    </div>
</nav>
